[defaults]
inventory = inventory/hetzner.yml
host_key_checking = False
stdout_callback = default
callback_result_format = yaml
timeout = 1800

[ssh_connection]
pipelining = True
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=60 -o TCPKeepAlive=yes
